* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__list {
    padding: 0;
}